body, html {
background-color: #333;
color: #ddd;
font-family: sans-serif;
margin: 0;
padding: 0;
font-size: 11px;
}

a {
color: #08f;
}

h1 {
font-size: 36px;
color: #fff;
}

hr {
height: 0;
color: 0;
background-color: 0;
border: 0;
border-top: solid 1px #111;
border-bottom: solid 1px #333;
}

i {
font-style: italic;
font-family: serif;
}

sup {
vertical-align: super;
}

body {
width: 760px;
margin: -21px auto 0 auto;
padding: 20px 20px;
background-color: #222;
border: solid 1px #555;
}

input {
width: 200px;
background-color: #333;
border: solid 1px #666;
color: #ddd;
font-family: inherit;
font-size: inherit;
padding: 5px;
}

button, #submit {
background-color: #444;
border: solid 1px #888;
color: #fff;
font-family: inherit;
font-size: inherit;
padding: 5px 20px;
cursor: pointer;
}

#submit {
margin: 5px auto 5px auto;
width: 200px;
}

header {
text-align: center;
}

#output {
padding: 20px;
margin-top: 8px;
background-color: #111;
border: solid 1px #444;
}

.bad {
color: #f00;
}

.good {
color: #4f0;
}

.ylw {
color: #ff0;
}

.link {
color: #08f;
}

.blu {
color: #08f;
}

.gry {
color: #666;
}

#triangle {
float: right;
background-color: #111;
margin-top: 5px;
border: solid 1px #666;
}

p.in {
margin-left: 20px;
}