*, *::before: *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #111;
  color: #ddd;
  font-family: sans-serif;
  font-size: 18px;
}

main {
  max-width: 80ch;
  margin: 0 auto;
}

details > summary {
  text-decoration: underline;
  color: #08f;
  cursor: pointer;
}

p,
form,
details {
  margin-bottom: 1em;
}

a {
  color: #08f;
}

h1 {
  font-size: 200%;
  color: #fff;
  text-align: center;
}

i {
  font-style: italic;
  font-family: serif;
  font-size: 22px;
}

input {
  width: 200px;
  background-color: #222;
  border: solid 1px #666;
  color: #ddd;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
}

.bad {
  color: #f00;
}

.good {
  color: #4f0;
}

.ylw {
  color: #ff0;
}

.blu {
  color: #08f;
}

.in {
  margin-left: 1em;
}

canvas {
  display: block;
  background: #222;
  margin: 0 auto;
  padding: 2px;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
}

form label {
  margin-right: 1em;
}

form input {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 1em;
}

footer > p {
  text-align: center;
}
